/*
    Document Setup
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #757575;
  position: relative;
}

img {
  max-width: 100%;
}

blockquote {
  border: none;
}

p, ul, ol {
  font-size: 1.7rem;
  line-height: 1.5;
}

img {
  min-width: 100%;
}

img.img-non-responsive {
  min-width: initial;
}

/*
    Utility Classes
*/

.fullscreen {
  min-height: 100vh;
}

.halfscreen {
  min-height: 50vh;
}

.background {
  overflow: hidden;
}

.section-intro {
  height: 50vh;
}

.vertical-wrap {
  position: absolute;
  height: 200px;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  padding: 90px 0;
}

.poloroid {
  border-radius: 2px;
  border: 1px solid #9c9c9c;
  padding: 7px;
  padding-bottom: 65px;
}

.poloroid span {
  background-color: #353535;
  display: block;
}

.section-intro {
  background-color: #fab;
  width: 100%;
  height: 350px;
  margin: 120px 0;
}

.section-intro h2 {
  text-align: center;
  line-height: 350px;
  font-size: 13rem;
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,.8);
  margin: 0;
  padding: 0;
}

.wrap {
  padding: 90px 40px;
  margin: 0 auto;
  width: 80%;
}

.pad-bottom-lg {
  padding-bottom: 210px;
}

/*
    Stories
*/

.story-main {
  position: relative;
  margin-bottom: 30px;
}

.story-main > div:first-of-type {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  text-shadow: 0 0 5px rgba(0,0,0,.6);
}

.story-supporting figure {
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
}

.story-supporting figure img,
.story-supporting figure h3 {
  transition: transform 0.35s;
}

.story-supporting figure h3 {
  color: #fff;
  text-shadow: 0 1px 0 #353535;
  min-width: 100%;
  margin: 0;
}

.story-supporting figure h3.invisible {
  display: none;
}

.story-supporting figure img {
  backface-visibility: hidden;
}

.story-supporting figure h3,
.story-supporting figure p {
  position: absolute;
  bottom: 0; left: 0;
  padding: 30px;
  margin: 0;
}

.story-supporting figure p {
  background-color: #454545;
  color: #fff;
  text-transform: none;
  opacity: 0;
  min-width: 100%;
  transition: opacity 0.1s 0.25s, transform 0.35s;
  transform: translate3d(0, 100%, 0);
}

.story-supporting figure:hover img {
  transform: translate3d(0, -80px, 0);
}

.story-supporting figure:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.1s, transform 0.35s;
}

/*
    Overlay
*/

.overlay {
  visibility: hidden;
  opacity: 0;
  backface-visibility: hidden;
  transition: opacity 0.5s, transform 0.4s, visibility 0s 0.5s;
  transform: scale(1.3);
  overflow-y: auto;
  
  color: #353535;
  padding: 17.14rem;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(236, 172, 0, .97);
  z-index: 1090;
}

.overlay.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s, transform 0.4s;
}

.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  text-indent: 200%;
  border: none;
  background: url(../img/chrome/cross.png) no-repeat center center;
  color: transparent;
  outline: none;
  z-index: 100;
}

.overlay [class*='embed'] {
  margin-bottom: 20px;
}

/*
    Image Grid
*/

.grid {
  margin: 210px 0;
}

.grid .date {
  display: block;
  font-size: .9rem;
  padding: 10px 0;
  text-align: right;
}

.grid .row [class*='col-'] {
  margin-bottom: 30px;
}

.mover figure {
  position: relative;
  overflow: hidden;
}

.mover figure img {
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1.12);
}

.mover:hover figure img {
  opacity: 0.5;
  transform: scale(1);
}

.mover figcaption {
  padding: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mover figcaption:before {
  position: absolute;
  top: 30px; right: 30px; bottom: 30px; left: 30px;
  background-color: rgba(0,0,0,.4);
  border: 1px solid #fff;
  content: '';
  transform: scale(1.1);
}

.mover figcaption:before,
.mover figcaption p {
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}

.mover figcaption p {
  color: #fff;
  margin: 0;
  padding: 30px;
  transform: scale(1.5);
  font-size: 1.3rem;
}

.mover:hover figcaption:before,
.mover:hover figcaption p {
  opacity: 1;
  transform: scale(1);
}

.grid .row > div {
  opacity: 0;
}

.grid .row:nth-child(1) > div:nth-child(1) {
  transform: translate3d(-30px, -30px, 0) scale(1.1);
}

.grid .row:nth-child(1) > div:nth-child(2) {
  transform: translate3d(0px, -30px, 0) scale(1.1);
}

.grid .row:nth-child(1) > div:nth-child(3) {
  transform: translate3d(30px, -30px, 0) scale(1.1);
}

.grid .row:nth-child(1) > div:nth-child(4) {
  transform: translate3d(-30px, 30px, 0) scale(1.1);
}

.grid .row:nth-child(1) > div:nth-child(5) {
  transform: translate3d(0px, 30px, 0) scale(1.1);
}

.grid .row:nth-child(1) > div:nth-child(6) {
  transform: translate3d(30px, 30px, 0) scale(1.1);
}

.grid.converge .row:nth-child(1) div:nth-child(1) {
  transition: opacity 0.7s ease, transform 0.7s ease-out;
  opacity: 1;
  transform: translate3d(0,0,0) scale(1) !important;
}

.grid.converge .row:nth-child(1) div:nth-child(2) {
  transition: opacity 0.7s ease, transform 0.7s ease-out;
  opacity: 1;
  transform: translate3d(0,0,0) scale(1) !important;
}

.grid.converge .row:nth-child(1) div:nth-child(3) {
  transition: opacity 0.7s ease, transform 0.7s ease-out;
  opacity: 1;
  transform: translate3d(0,0,0) scale(1) !important;
}

.grid.converge .row:nth-child(1) div:nth-child(4) {
  transition: opacity 0.7s ease, transform 0.7s ease-out;
  opacity: 1;
  transform: translate3d(0,0,0) scale(1) !important;
}

.grid.converge .row:nth-child(1) div:nth-child(5) {
  transition: opacity 0.7s ease, transform 0.7s ease-out;
  opacity: 1;
  transform: translate3d(0,0,0) scale(1) !important;
}

.grid.converge .row:nth-child(1) div:nth-child(6) {
  transition: opacity 0.7s ease, transform 0.7s ease-out;
  opacity: 1;
  transform: translate3d(0,0,0) scale(1) !important;
}

/*
    Animation Keyframes
*/

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px) scale(0.95); }
  to   { opacity: 1; transform: translateY(0) scale(1); }
}

@keyframes fadeInLeft {
  from { opacity: 0; transform: translateX(-30px); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
  from { opacity: 0; transform: translateX(30px); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }
  
  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}
.bounce {
  animation: bounce 1.15s ease-in-out;
}

/*
    Section: Factoids
*/

.factoid {
  color: rgb(236, 172, 0);
  position: relative;
}

.factoid .impressive > p {
  font-size: 22rem;
  position: relative;
}

.factoid .impressive-support {
  color: #757575;
  line-height: 1;
  display: block;
}

.factoid sup {
  font-size: .55em;
}

/*
    Section: Lead-In
*/

#lead-in {
  background: transparent url('../img/lead-in/welding.jpg') no-repeat center center;
  position: relative;
  opacity: 0;
  animation: fadeIn 3s ease 0s;
  animation-fill-mode: forwards;
  backface-visibility: none;
  margin-bottom: 120px;
}

#lead-in header {
  color: #FFF;
  text-shadow: 0 0 5px black;
  letter-spacing: 3px;
  height: 200px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}

#lead-in header h1 {
  font-size: 6rem;
  margin: 0;
  padding: 30px 0;
  opacity: 0;
  animation: fadeInUp 1.2s ease 1s;
  animation-fill-mode: forwards;
}

#lead-in header h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: fadeInUp 1.2s ease 1.1s;
  animation-fill-mode: forwards;
}

#lead-in .scroll-hint {
  background: rgba(0,0,0, .5);
  display: block;
  width: 50px; height: 50px;
  border: 2px solid rgb(236, 172, 0);
  border-radius: 50%;
  position: absolute;
  left: 50%; bottom: 8.57rem;
  margin-left: -25px;
}

#lead-in .scroll-hint svg {
  width: 80%; height: 80%;
  margin: auto;
  padding-top: 10px;
  fill: rgb(236, 172, 0);
  display: block;
}

/*
    Section: Welcome
*/

#welcome {
  position: relative;
}

#welcome .vertical-wrap {
  width: 80%;
}

#welcome .poloroid {
  transform: rotate(7deg) translateY(95px);
  backface-visibility: hidden;
}

#welcome .poloroid-init {
  opacity: 0;
}

#welcome .poloroid-expose {
  transition: opacity 5s ease 0s;
  opacity: 1;
}

/*
    Factoid 1
*/

.factoid-1 .impressive > p {
  text-align: center;
}

.factoid-1 .impressive > p.off span {
  opacity: 0;
  transform: scale(.4);
}

.factoid-1 .impressive > p.on span:nth-child(1) {
  transition: opacity 0.8s ease, transform 0.7s ease-out;
  opacity: 1;
  transform: scale(1);
}

.factoid-1 .impressive > p.on span:nth-child(2) {
  transition: opacity 0.8s ease 0.2s, transform 0.7s ease-out 0.2s;
  opacity: 1;
  transform: scale(1);
}

.factoid-1 .impressive > p.on span:nth-child(3) {
  transition: opacity 0.8s ease 0.4s, transform 0.7s ease-out 0.4s;
  opacity: 1;
  transform: scale(1);
}

.factoid-1 .impressive > div.off {
  opacity: 0;
}

.factoid-1 .impressive > div.on {
  transition: opacity 2s ease;
  opacity: 1;
}

/*
    Section Intros
*/

.section-intro.community {
  background: #333 url('../img/section-intros/section-intro-community.jpg') no-repeat center center;
}

.section-intro.faculty-staff {
  background: #333 url('../img/section-intros/section-intro-faculty-staff.jpg') no-repeat center center;
}

.section-intro.grow {
  background: #333 url('../img/section-intros/section-intro-grow.jpg') no-repeat center center;
}

.section-intro.create {
  background: #333 url('../img/section-intros/section-intro-create.jpg') no-repeat center center;
}

.section-intro.fuel {
  background: #333 url('../img/section-intros/section-intro-fuel.jpg') no-repeat center center;
}

.section-intro.ship {
  background: #333 url('../img/section-intros/section-intro-ship.jpg') no-repeat center center;
}

.section-intro.build {
  background: #333 url('../img/section-intros/section-intro-build.jpg') no-repeat center center;
}

.section-intro.heal {
  background: #333 url('../img/section-intros/section-intro-heal.jpg') no-repeat center center;
}